<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  
  <div class="row">
  <p>メモ新規</p>
    <div class="col-sm-3">
      <%= form_with(model: @memo, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 1 %>
        </div>
    </div>
    <div class="col-sm-1">
      <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
    </div>
    <% end %>

　<p>ワード検索</p>
    <div class="col-sm-3">
      <%= form_with(model: @memo, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 1 %>
        </div>
    </div>
    <div class="col-sm-1">
      <%= f.submit '検索', class: 'btn btn-primary btn-block' %>
    </div>
    <% end %>
  </div>

  <%= render 'memos/memos', memos: @memos %>

<% else %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>welcome to the memotag</h1>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
<% end %>